@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900');

/* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap'); */

@import '~rc-easyui/dist/themes/default/easyui.css';
@import '~rc-easyui/dist/themes/icon.css';
@import '~rc-easyui/dist/themes/react.css';
html,
body{
  font-family: 'MuseoModerno', cursive;
  /* font-family: 'Dosis', sans-serif; */
  width: 100%;
  height: 100%;
}
body {
  background-color: #1e272e;
  /* min-height: 75rem; */
  padding-top: 4.5rem;
}

.bg-dark {
  background-color: #222f3e !important;
}
.navbar-dark .navbar-brand {
  color: #ecf0f1;
  font-size: 1.25rem;
  font-weight: 500;
}
.appLogo{
  width: 30px;
  margin-right: 5px;
}

.card {
  background-color: #222f3e;
  color: #ecf0f1;
}

.iconVirus{
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.small-caption{
  font-size: 0.9rem;
  color: #a5a5a5;
}
h5.card-header{
  font-size: 1.0rem;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  font-size: 0.9rem;
  font-weight: 400;
}
svg.highcharts-root{
  font-family: 'MuseoModerno', cursive !important;
  font-size: 0.9rem;
}



.panel-body {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ecf0f1 !important;
  font-size: 14px;
}
/*.panel-header, .panel-body {
  border-color: rgb(95, 100, 105) !important;
}*/

.datagrid-header, .datagrid-td-rownumber {  
  background: linear-gradient(to bottom,rgba(239, 239, 239, 0) 0,rgba(239, 239, 239, 0) 100%) !important; 
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9,endColorstr=#efefef,GradientType=0);
}

.datagrid-header td, .datagrid-body td, .datagrid-footer td {
  border-width: 0 1px 1px 0;
  border-style: solid !important;
  border-color: rgba(158, 185, 204, 0.07) !important;
  margin: 0;
  padding: 0;
}
.datagrid-header {
  overflow: hidden;
  cursor: default;
  border-width: 0 0 1px 0;
  border-color: rgba(158, 185, 204, 0.07) !important;
  border-style: solid;
}
.datagrid-htable, .datagrid-btable, .datagrid-ftable {
  color: #ecf0f1 !important;
  border-collapse: separate;
}
.panel-header, .panel-body {
  border-color: rgba(95, 100, 105,0.12) !important;
}
